{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>MyFolio</title>


    <link rel="stylesheet" type="text/css" href="#">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_app\fonts\Quicksand\stylesheet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app\stylesheets\index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app\stylesheets\navbar-style.css' %}">
    <style>
        .background-img {
            background: url({% static 'main_app\img\people-edit.jpg' %}) 50% fixed no-repeat;
            background-size: cover;
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        .background-cover {
            background-color: rgba(240, 240, 240, .80);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#toggle").click(function () {
                $(this).toggleClass("active");
                $("#fullnav").toggleClass("open");
            });
        });
    </script>


</head>
<body>
<div class="background-img">
    <div class="background-cover">
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand text-dark ml-3" href="#" id="logo-name">
            <img src="{% static 'main_app/img/Group 2@2x.png' %}" class="navbar-brand" id="logo" width="30px">
                    MyFolio
        </a>
    </div>
</nav>
<div id="login-btn-div">
    <a class="btn" id="login-btn" href="{% url 'verify_user' %}">Login</a>
</div>
<div class="fullnavBtn" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>
<div class="fullnav mr-4" id="fullnav">
    <nav class="fullnavMenu mr-4">
        <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Quick Guide</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </nav>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="exampleModalCenterTitle">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {% if messages %}
                        <h3>
                            Errors
                        </h3>
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %}
                                    class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    Email {{ form.email }}
                    <br>
                    Password {{ form.password }}
                    <br>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" name="submit">Log in</button>
                </form>
            </div>
        </div>
    </div>
</div>

<main class="container">
    <div class="row" id="welcome-message">
        <h1 class="col-12 text-dark" id="welcome-message-heading">
            Welcome to MyFolio.
        </h1>
        <article class="col-12 col-md-8" id="welcome-message-article">
            You have landed in a professional network of our college students. We will keep you informed about
            technical seminars
            job opportunities and many more...
        </article>
    </div>
    <div class="button-group row">
        <a class="btn text-dark col-md-6" id="login-btn-2" href="{% url 'verify_user' %}">Login</a>
        <a class="btn col-12 col-md-6" id="new-account-btn" href="{% url 'new_account' %}">
            Create Account
        </a>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>