{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>MyFolio</title>


    <link rel="stylesheet" type="text/css" href="#">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_app\fonts\Quicksand\stylesheet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app\stylesheets\index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app\stylesheets\navbar-style.css' %}">
    <style>
        .background {
            z-index: -1;
            position: fixed;
            background: url({% static 'main_app\img\people-edit.jpg' %}) 50% fixed no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        .background-cover {
            z-index: -1;
            background-color: rgba(0,0,0, .50);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#toggle").click(function () {
                $(this).toggleClass("active");
                $("#fullnav").toggleClass("open");
            });
        });
    </script>


</head>
<body>
<div class="background">
</div>
<div class="background-cover">
</div>
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand ml-3" href="#" id="logo-name">
            <img src="{% static 'main_app/img/Group 2@2x.png' %}" class="navbar-brand" id="logo" width="30px">
            MyFolio
        </a>
    </div>
</nav>
<div id="login-btn-div">
    <a class="btn" id="login-btn" href="{% url 'verify_user' %}">Login</a>
</div>
<div class="fullnavBtn" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>
<div class="fullnav mr-4" id="fullnav">
    <nav class="fullnavMenu mr-4">
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#">Quick Guide</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </nav>
</div>
<main class="container">
    <div class="row" id="welcome-message">
        <h1 class="col-12" id="welcome-message-heading">
            Welcome to MyFolio.
        </h1>
        <article class="col-12 col-md-8" id="welcome-message-article">
            You have landed in a professional network of our college students. We will keep you informed about
            technical seminars
            job opportunities and many more...
        </article>
    </div>
    <div class="button-group row">
        <a class="btn col-md-6" id="login-btn-2" href="{% url 'verify_user' %}">Login</a>
        <a class="btn col-12 col-md-6" id="new-account-btn" href="{% url 'new_account' %}">
            Create Account
        </a>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>