
.h2 {
    text-align: center;
}
#logo-name{
    font-family: Quicksand;
}
#profile-image {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 14px 0px;
    max-width: 200px;
    min-width: 100px;
    width: 100%;

}

.complete-profile {
    margin: 20px 10px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    border: ghostwhite solid 1px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.95);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 14px;
}

#about-pic {
    justify-content: center;
    text-align: center;
}

#btn-about {
    text-align: right;
    margin-top: 20px;
}

.field-data {
    margin-top: 8px;
    word-break: break-word;
}

.accounts {
    text-align: center;
    font-size: 20px;
    color: #003366;
}
.h3{
    text-align: center;

}
@media screen and (max-width: 600px){
    body{
        font-size: 14px;
    }
}