body {
    font-family: Quicksand;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 999;
}

.extra-space {
    height: 100px;
}



.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    max-width: 600px;
    height: 100%;
    width: 100%;
}