body {
  font-family: Quicksand;
  color: black;
}
.fullnav {
  font-family: Quicksand;
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.fullnav.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
  z-index: 99;
}
.fullnav.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
  animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.fullnav.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fullnav.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.fullnav.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.fullnav nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 35px;
  font-family: Quicksand;
  font-weight: 400;
  text-align: center;
}
.fullnav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.fullnav ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.fullnav ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.fullnav ul li a:hover:after,
.fullnav ul li a:focus:after,
.fullnav ul li a:active:after {
  width: 100%;
}
.fullnav ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.fullnavBtn {
  position: absolute;
  top: 5%;
  right: 4%;
  height: 14px;
  width: 32px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.fullnavBtn:hover {
  opacity: 0.7;
}
.fullnavBtn.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.fullnavBtn.active .middle {
  opacity: 0;
  background: #fff;
}
.fullnavBtn.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.fullnavBtn span {
  background: #111111;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}
.fullnavBtn span:nth-of-type(2) {
  top: 11px;
}
.fullnavBtn span:nth-of-type(3) {
  top: 22px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#logo_div {
  margin-right: 10px;
}
.search-form {
  border: 1px solid #ffffff !important;
}

.search-button {
  color: #007bff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.extra-space {
  height: 100px;
}

.card {
  font-family: "Google Sans Display";
  border-radius: 10px;
  font-weight: normal;
}

.blogs {
  max-width: 720px;
}

card-title {
  font-weight: lighter;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-div {
  float: right;
  right: 10px;
  position: absolute;
}

.copy-btn {
  position: absolute;
  float: right;
  border-style: none;
  background-color: transparent;
}

.desc {
  margin: 20px 10px;
  font-family: "Google Sans Display";
  font-weight: normal;
}

.image {
  margin-top: 20px;
}
@media (min-width: 767px) {
  .navbar-search-form {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    width: 20%;
    float: none;
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .navbar-search-form {
    position: absolute;
    left: 50%;
    right: 50%;

    margin: auto;
    width: 30%;
    float: none;
    text-align: center;
    padding: 0;
  }
}
