body {
  font-family: Quicksand;
  color: black;
  z-index: -4;
}
.input-group{
  padding-right: 30px;
}
#search_bar_input{
  border-width: 0px;
  border-radius: 0;
  border-bottom-width: 2px;
  background-color: transparent;
  border-color: white;
  color: white;
}
#search_bar_input:focus{
  border-color: transparent;
  box-shadow: none;
}
.input-group{
  padding-right: 30px;
}
.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  overflow: visible;
}

#logo_div {
  margin-right: 10px;
}
.navbar-brand{
  padding-top: 10px;
  font-size: 24px;
  font-family: Quicksand;
}

.extra-space {
  height: 100px;
}

.card {
  font-family: "Google Sans Display";
  font-weight: normal;
}
.card-body{
  padding: 10px 0px 10px 0px;
}
.blogs {
  max-width: 720px;
}

card-title {

  font-weight: lighter;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-div {
  float: right;
  right: 100px;
  position: absolute;
}
#items{
  width: 100%;
}
.search-area{
  justify-content: center;
  max-width: 300px;
}
#options{
  max-width: 200px;
  margin-right: 0%;
  justify-content: right;
  float: right;  
}
#search-bar{
  border-width: 0px;
  border-radius: 0;
  border-bottom-width: 2px;
  background-color: transparent;
  border-color: white;
  color: white;
}
#search-bar:focus{
  border-color: white;
  box-shadow: none;
  color: white;
}
.copy-btn {
  position: absolute;
  float: right;
  border-style: none;
  background-color: transparent;
}

.desc {
  margin: 20px 10px;
  font-family: "Google Sans Display";
  font-weight: normal;
}

.image {
  margin-top: 20px;
}
.search-results{
  padding: 5px 8px;
  border: white solid 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  color: black;
  font-family: "";
  font-stretch: expanded;
  background-color: white;
}
.sr{
  border-top: #000d32 solid 2px;
}
